<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Транспортная Компания</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="waves-effect waves-light btn" href="/">Главная</a></li>
        <li><a class="waves-effect waves-light btn" href="/Orders">Заказы</a></li>
        <li><a class="waves-effect waves-light btn" href="/City">Города</a></li>
        <li><a class="waves-effect waves-light btn" href="/Driver">Водители</a></li>
        <li><a class="waves-effect waves-light btn" href="/Type">Тип посылки</a></li>



   
      </ul>

      
    </div>
  </nav>