


<h2>
    Города
</h2>

 <a class="waves-effect waves-light btn-large">Добавить город</a>
 <a class="waves-effect waves-light btn-large">Редактировать</a>
 <a class="waves-effect waves-light btn-large">Удалить</a>
 <a class="waves-effect waves-light btn-large">Сохранить</a>
 

 <h3>
   Список городов
 </h3>

 