


<h2>
    Тип посылки
</h2>

 <a class="waves-effect waves-light btn-large">Добавить тип</a>
 <a class="waves-effect waves-light btn-large">Редактировать</a>
 <a class="waves-effect waves-light btn-large">Удалить</a>
 <a class="waves-effect waves-light btn-large">Сохранить</a>
 

 <h3>
   Список типов посылки
 </h3>

 